.u-center-text {
  text-align: center;
}
//BOTTOM
.u-margin-bottom-extralarge {
  margin-bottom: 10rem;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

//TOP
.u-margin-top-extralarge {
  margin-top: 10rem;
}

.u-margin-top-large {
  margin-top: 8rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
}
